<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tailspin.Admin.App.Properties.Settings.TailspinToysConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=TailspinToys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>