<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PublicAssemblies;PrivateAssemblies"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- HoverKey to use. -->
    <add key="HoverKeyModifier" value="Control, Shift"/>
    <add key="HoverKey" value="R"/>

    <!--Use this to enable/disable recording of implicithovers.-->
    <add key="RecordImplicitHover" value="true"/>

    <!-- Use this to enable/disable aggregators related to SetValue. -->
    <add key="SetValueAggregators" value="true"/>

    <!-- Use this to enable/disable aggregators that absorb setfocus and window move/resize actions. -->
    <add key="AbsorbWindowResizeAndSetFocusAggregators" value="true"/>

    <!-- Use this to enable/disable aggregators that set ContinueonError to true for
             actions on following IE dialogs: 
             AutoComplete, AutoComplete Password, IE information Bar and Phishing filter 
        -->
    <add key="IEDialogAggregators" value="true"/>

    <!-- Use this to enable/disable thinktime -->
    <add key="RecordThinkTime" value="false" />

    <!-- Use this to set the timeout for aggregator in milliseconds. -->
    <add key="AggregatorTimeout" value="10000"/>

    <!-- Think time threshold in milliseconds. 
             Think time is not recorded if the time-gap between actions are less than this. -->
    <add key="ThinkTimeThreshold" value="10000"/>

    <!-- Think time uppser cut-off in milliseconds. 
             This represents the maximum think time value. -->
    <add key="ThinkTimeUpperCutoff" value="120000" />

    <!-- Think time multiplier. 
             Recorded think time is multiplied by this value. -->
    <add key="ThinktimeMultiplier" value="1.0" />

    <!-- Delay between actions in milliseconds.
             This is the default wait time in between two actions. -->
    <add key="DelayBetweenActions" value="100" />

    <!-- Use this to set the timeout for waiting for control (in milliseconds). -->
    <add key="WaitForReadyTimeout" value="60000"/>

    <!-- Log folder. Trace logs are placed in this folder. -->
    <add key="UITestTraceFolder" value="%TEMP%\UITestLogs"/>

    <!-- SearchTimeout for playback (in milliseconds)-->
    <add key="SearchTimeout" value="120000"/>

    <!-- SearchTimeout for playback while doing FindAll (in milliseconds)-->
    <add key="FindAllTimeout" value="30000"/>

    <!-- Delay between each key playback (in milliseconds) -->
    <add key="DelayBetweenSendKeys" value="10"/>

    <!-- Use smart match for searching controls -->
    <add key="SmartMatchOptions" value="TopLevelWindow, Control"/>

    <!-- Show "Currently Recording" caption on windows under recording. -->
    <add key="ShowCurrentlyRecording" value="true"/>

    <!-- Match the exact UI hierarchy during search -->
    <add key="MatchExactHierarchy" value="false"/>

    <!-- Global hot Keys -->
    <add key="GlobalHotKeys" value="Control, Escape;
                    Windows;
                    Windows, E;
                    Windows, R;
                    Windows, M;
                    Windows, S;
                    Windows, T;
                    Windows, Shift, M;
                    Windows, D;
                    Windows, B;
                    Windows, L;
                    Windows, F;
                    Windows, F3;
                    Windows, Control, F;
                    Windows, U;
                    Windows, F1;
                    Windows, Pause;
                    Windows, Tab;
                    Windows, Shift, Tab;
                    Alt, Tab;
                    Alt, Shift, Tab;"/>

    <!-- Use this to provide a comma separated list of languages (LCIDs) for which IME is enabled 
             and the IME ends composition on pressing the {Enter} key.
             The following four languages for which such Microsoft IMEs exist are included by default.

             Chinese (People's Republic of China) - 2052
             Chinese (Taiwan) - 1028
             Japanese - 1041
             Yi - 1144
         -->
    <add key="IMELanguages" value="2052, 1028, 1041, 1144" />

    <!-- Exclude Processes, to include PID include them the same way as the process names -->
    <!--
        <add key="ExcludeProcess" value="
                    %ProgramFiles%\Microsoft Office\Office12\WINWORD.EXE
                    %ProgramFiles%\Microsoft Office\Office12\EXCEL.EXE
                    %ProgramFiles%\Microsoft Office\Office12\Outlook.EXE
                    %ProgramFiles%\Microsoft Visual Studio 9.0\Common7\IDE\devenv.exe
                    %_NTDRIVE%%_NTROOT%\tools\x86\managed\v2.0\VSMSBuild.exe
                    "/>
        -->
    <!-- Exclude remote desktop connection process -->
    <add key="ExcludeProcess" value="%SystemRoot%\system32\mstsc.exe"/>

    <!-- Include Processes, to include PID include them the same way as the process names -->
    <!-- 
        <add key="IncludeProcess" value="
                    %SystemRoot%\system32\calc.exe
                    "/>
        -->
  </appSettings>

  <system.diagnostics>
    <!-- Change the value of EqtTraceLevel to change the level of tracing you want.
            You must use integral values for "value".  
            0 ==> off,
            1 ==> error,
            2 ==> warn, 
            3 ==> info,
            4 ==> verbose.
            Note that each value is inclusive of the last.
        -->
    <switches>
      <add name="EqtTraceLevel" value="4" />
    </switches>
  </system.diagnostics>
</configuration>
